<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Split Calculator</title>
    <style>
        body{
            background-color:rgb(162, 213, 231);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">SplitBill</h1>
    <div>
        <h2 style="text-align: center;">Split bills for shared group expenses.</h2>
    </div>

    <div>
        <center>
        <form action="/details" method="post">
            <h3>How many people in your group?</h3>
            <input type="number" name="n" id="n" min="2" max="40" value="2">
            <h3>Give Roadtrip Name</h3>
            <input type="text" name="rt_name" id="rt_name" value="Trip">
            <input type="submit" value="Go!">
        </form>
        </center>
    </div>
    
</body>
</html>